body{
	background-color: #f8f5fe;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.logo{
    text-align: center;
    position: absolute;
	margin: auto;
    top: 30vh;
    bottom: 70vh;
	left: 0px;
	right: 0px;
}
#logo{
    text-align: center;
    position: absolute;
    margin: auto;
    color:  #f8f5fe;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 37px;
}
.fa-bomb
{
	font-size: 59px;
	color: #f8f5fe;
}
.button{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg,#5b13ec,#5b13ec,#5b13ec, #8f63e9, #cfbcf5, #f8f5fe,#cfbcf5, #8f63e9,#5b13ec);
	background-size: 400%;
	border-radius: 30px;
	z-index: 1;
}
#button a{
    text-align: center;
    top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
    color:  #f8f5fe;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
.button:hover{
	animation: animate 8s linear infinite;
}
#button a{text-decoration: none;font-weight:bold;}/* 文字链接取消下划线 */
#button a:link {color: #f8f5fe;}/* 未访问的链接 */
#button a:visited {color:#f8f5fe;}/* 已访问的链接 */
#button a:hover {color: #f8f5fe;} /* 鼠标移动到链接上 */
#button a:active {color: #f8f5fe;} /* 选定的链接 */

@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}

.button:before{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg,#5b13ec,#5b13ec,#5b13ec, #8f63e9, #cfbcf5, #f8f5fe,#cfbcf5, #8f63e9,#5b13ec);
	background-size: 400%;
	border-radius: 40px;
	opacity: 0;
	transition: 0.5s;
}
.button:hover:before{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}