.back{
    text-align: center;
    position: absolute;
	margin: auto;
    top: 20px;
	left: 45px;
}
#back{
    text-align: center;
    position: absolute;
    margin: auto;
    color:  #5b13ec;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
#back a{text-decoration: none;font-weight:bold;}/* 文字链接取消下划线 */
#back a:link {color: #5b13ec;}/* 未访问的链接 */
#back a:visited {color:#5b13ec;}/* 已访问的链接 */
#back a:hover {color: #5b13ec;} /* 鼠标移动到链接上 */
#back a:active {color: #5b13ec;} /* 选定的链接 */

.fa-arrow-circle-left{
	font-size: 59px;
	color: #5b13ec;
	display: block;
	margin-top: 19px;
	transition: 0.5s;
}